* {
    font-family: Arial, Helvetica, sans-serif;
}
body {
    background-color: rgb(64, 139, 224);
}
section {
    background-color: white;
    width: 350px;
    box-shadow: 5px 5px 5px rgba(41, 41, 41, 0.459);
    border: rgb(235, 235, 235) solid 1px;
    border-width: 70%;
}

img {
    border-radius: 50%;
    width:  100px;
    height: 100px;
    object-fit: cover;
    margin-left: -20px;
}


.flexContainer1 {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}



.name {
    color: rgb(73, 73, 73);
    font-weight: bold;
    font-size: large;
    margin-bottom: 7px;
    margin-left: -25px;
}

p {
    color: rgb(177, 177, 177);
    font-weight: lighter;
    margin-top: 7px;
    margin-left: -25px;
}